<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>StackOverflow-lite</title>
    <link rel="stylesheet" href="../static/css/nav.css">
  </head>
  <body>
    <div class="navbar">
      <div class="">
        <a href="home.html" class = "active">Home</a>
        <a href="topquestions.html">Top Questions</a>
        <a href="about.html">About</a>
        <div class="dropdown">
          <button class="dropbtn">
            More<i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="../templates/signup.html">Sign Up</a>
            <a href="../templates/signin.html">Log  In</a>
          </div>
        </div>
      </div>
    </div>
    <div class="search">
      <div class="search-bar"align="center">
        <input type="text" name="" value="" placeholder="Search a question here">
        <button type="submit" name="button" placeholder="Search"></button>
      </div>
    </div>
    <div class="main-questions">
      <div class="questions">
        <div class="questions-body">
          <div>
            <h3 class="title">Python Question</h3>
            <p class="question">How can a class inherit parent class</p>
          </div>
        </div>
        <div class="answer">
          <div>
          <p class="question">Answer: Create a subclass then call the Parent class from   that subclass... <a href="moreanswers.html">continue</a></p>
          <p class="question">Answer: please follow this link<a href="www.medium.com/class-inheritance">here </link><a href="moreanswers.html">  continue</a></p>
          <p class="question">Answer: Create  altering anything else... <a href="moreanswers.html">continue</a></p>
          </div>
        </div>
      </div>
      <div class="questions">
        <div class="questions-body">
          <div>
            <p class="title">Python Question</p>
            <p class="question">How can a class inherit parent class..</p>
          </div>
        </div>
        <div class="answer">
          <div>
          <p class="question">Answer: Create a subclass then call the Parent class from   that subclass... <a href="moreanswers.html">continue</a></p>
          <p class="question">Answer: Create a subclass then call the Parent class from   that subclass... <a href="moreanswers.html">continue</a></p>
          <p class="question">Answer: Create a subcl.. <a href="moreanswers.html">continue</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
